# Compilation output
*.o
*.d
*.a

# Testing things
blocks/
lfs
test.c
#tests/*.toml.*
scripts/__pycache__
.gdb_history
/cmake-build-debug-apple-clang/
/cmake-build-debug-vagrantlfs/
/cmake-build-debug/
/cmake-build-debug-mingw32/
